.background {
  background: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  margin-top: 15vh;
  background: var(--wrapperBackground);
  border-radius: 31px;
  width: 40vw;
  padding: 15px;
}
@media (max-width: 850px) {
  .wrapper {
    width: 80vw;
  }
}
.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  color: var(--text);
}
.restart {
  background: var(--restartButton);
  border-radius: 17px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--restartText);
  padding: 10px;
  cursor: pointer;
}
.commit {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.commitInfo {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: var(--commitHash);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.commitMessage {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: var(--commitMessage);
  padding-left: 6px;
  flex-wrap: wrap;
  word-wrap: break-word;
}
.badgeWrapper {
  background: var(--badgeWrapper);
  border-radius: 83px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  margin: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  flex-grow: 1;
  flex-wrap: wrap;
}
.badgeLabel {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: var(--text);
}
.badgeValue {
  margin-left: 7px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: var(--text);
}
.badgesWrapper {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: -5px;
  flex-wrap: wrap;
}
.expired_card {
  background: var(--background);
  box-shadow: 2px 2px 12px var(--expiredShadow);
  border-radius: 23px;
  margin: 25px;
}
.expired_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  padding: 20px;
  width: full;
  text-align: center;
  color: var(--expiry);
}
.background_expired {
  background: var(--background-expired);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.background,
.background_expired {
  --expiry: #ca5f5f;
  --background: #f8f8f8;
  --background-expired: #d2d2d2;
  --text: #333333;
  --badgeWrapper: #f0f0f0;
  --commitHash: #3cbf31;
  --expiredShadow: rgba(0, 0, 0, 0.03);
  --wrapperBackground: #ffffff;
  --restartButton: #e15858;
  --restartText: #ffffff;
  --commitMessage: #828282;
}
@media (prefers-color-scheme: dark) {
  .background,
  .background_expired {
    --expiry: #ca5f5f;
    --background: #29292b;
    --background-expired: #1e1e20;
    --text: #f3f3f3;
    --badgeWrapper: #434344;
    --commitHash: #5dbf55;
    --expiredShadow: rgba(0, 0, 0, 0.03);
    --wrapperBackground: #38383a;
    --restartButton: #b14848;
    --restartText: #ffffff;
    --commitMessage: #828282;
  }
}
