.background {
  background: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background_expired {
  background: var(--background-expired);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: var(--text);
  margin-bottom: 10px;
}
.wrapper {
  padding-top: 15vh;
}
.reminderText {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: var(--text);
  overflow-wrap: anywhere;
  word-break: break-word;
}
.reminderTime {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  color: var(--reminderTime);
  padding-left: 7px;
}
.reminder {
  background: var(--reminderBackground);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  width: max(28vw, 500px);
  padding: 5px;
  display: flex;
  flex-direction: flex-column;
  align-items: center;
  margin-bottom: 10px;
}
@media (max-width: 700px) {
  .reminder {
    width: 80vw;
  }
}
.x {
  font-size: 30px;
  color: var(--expiry);
  cursor: pointer;
  padding-right: 3px;
  flex-shrink: 0;
}
@media (max-width: 700px) {
  .x {
    padding-right: 7px;
  }
}
.expiry {
  color: var(--expiry);
  padding-left: 5px;
}
.expired_card {
  background: var(--background);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.03);
  border-radius: 23px;
  margin: 25px;
}
.expired_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  padding: 20px;
  width: full;
  text-align: center;
  color: var(--expiry);
}
.reminderText > a {
  color: var(--linkColor);
  text-decoration: none;
}
.background,
.background_expired {
  --expiry: #ca5f5f;
  --background: #f8f8f8;
  --background-expired: #d2d2d2;
  --text: #333333;
  --reminderTime: #727272;
  --linkColor: #59aae4;
  --reminderBackground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  .background,
  .background_expired {
    --expiry: #ca5f5f;
    --background: #29292b;
    --background-expired: #1e1e20;
    --text: #f3f3f3;
    --reminderTime: #727272;
    --linkColor: #3886bd;
    --reminderBackground: #38383a;
  }
}
