.background {
  background: #f8f8f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background_expired {
  background: #d2d2d2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #333333;
  margin-bottom: 10px;
}
.wrapper {
  padding-top: 15vh;
}
.reminderText {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: #333333;
  overflow-wrap: anywhere;
}
.reminderTime {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  color: #727272;
  padding-left: 7px;
}
.reminder {
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  width: max(28vw, 500px);
  padding: 5px;
  display: flex;
  flex-direction: flex-column;
  align-items: center;
  margin-bottom: 10px;
}
@media (max-width: 700px) {
  .reminder {
    width: 80vw;
  }
}
.x {
  font-size: 30px;
  color: #ca5f5f;
  cursor: pointer;
  padding-right: 3px;
  flex-shrink: 0;
}
@media (max-width: 700px) {
  .x {
    padding-right: 7px;
  }
}
.expiry {
  color: #ca5f5f;
  padding-left: 5px;
}
.expired_card {
  background: #f8f8f8;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.03);
  border-radius: 23px;
  margin: 25px;
}
.expired_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  padding: 20px;
  width: full;
  text-align: center;
  color: #d55e5e;
}
